@model string

<main class="main">
    <section id="adduser" class="section">
        <div class="container">
            <h3>Создание пользователя</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <p>Пользователь создан или уже существует. <a asp-action="Index" asp-controller="Home">Вернуться на главную</a></p>
        </div>
    </section>
</main>